* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.banner {
  text-align: center;
  color: #666;
  margin-bottom: 15vh;
}
.banner img {
  width: 100%;
  height: auto;
}
.movies-section {
  padding: 1.2rem;
  text-align: center;
}
.movies-section h2 {
  margin-bottom: 1.2rem;
}
.movie-list {
  display: flex;
  justify-content: center;
  gap: 5vw;
}
.movie-card {
  width: 25vw;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  overflow: hidden;
  text-align: left;
}
.movie-card img {
  width: 100%;
  height: auto;
}
.movie-card .movie-info {
  padding: 1.2rem;
}

.movie-card p {
  margin: 0;
  color: gray;
}

@media only screen and (max-width: 992px) {
  header h1 {
    font-size: 1.2rem;
  }
  header a:nth-child(1),
  a:nth-child(2) {
    display: none;
  }
  .movie-list {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .banner {
    margin-bottom: 5vh;
  }
  .movie-card {
    width: 75vw;
  }
}
